$fa-font-path: "~font-awesome/fonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome"; // npm i @fortawesome/fontawesome-free

@import url('https://fonts.googleapis.com/css2?family=Allura&family=Josefin+Sans:wght@600&display=swap');

*::before,
*::after,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

@import "top_navbar.scss";
@import "cards.scss";
@import "collapse_nav.scss";
@import "main_menu.scss";
@import "image_slider_dark.scss";
@import "sliding-sign-in.scss";
@import "registration_form.scss";
@import "login.scss";

