@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@500&display=swap');

$field-label-color: #757575;
$back:#fec107;
$box-shadow:1px 1px 2px rgba(0,0,0,.125);
$input-box: 1px solid #d5dbd9;
$input-paragraph-color: #757575;
$button-hover-color: #ffd658;

.registration-form-wrapper {
  font-family: "Grenze Gotisch";
  font-size: 20px;
  background-color: #fec107;
  height: 100vh;

  .wrapper-form {
    padding: 0 10px;
    max-width: 500px;
    width: 100%;
    background-color: #fff;
    margin: auto;
    padding: 30px;
    box-shadow: 1px 1px 2px rgba(0,0,0,.125);

    .title {
      font-size: 30px;
      font-weight: 700;
      margin-bottom: 25px;
      color: #fec107;
      text-transform: uppercase;
      text-align: center;
    }

    .form {
      width: 100%;

      .input_field {
        margin-bottom: 15px;
        display: flex;
        align-items: center;

        p {
          font-size: 15px;
          color: #757575;
        }

        .check {
          width: 15px;
          height: 15px;
          position: relative;
          display: block;
          cursor: pointer;

          input[type="checkbox"] {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;

            &:checked ~ .checkmark {
              background: #fec107;
              &:before {
                display: block;
              }
            }
          }

          .checkmark {
            width: 15px;
            height: 15px;
            border: 1px solid #fec107;
            display: block;
            position: relative;

            &:before {
              content: "";
              position: absolute;
              top: 1px;
              left: 2px;
              width: 5px;
              height: 2px;
              border: 2px solid;
              border-color: transparent transparent #fff #fff;
              transform: rotate(-45deg);
              display: none;
            }
          }
        }

        &:last-child {
          margin-bottom: 0;
        }
      }

      label {
        width: 200px;
        color: #757575;
        margin-right: 10px;
      }

      .input, .textarea {
        width: 100%;
        outline: none;
        border: 1px solid #d5dbd9;
        padding: 8px 10px;
        border-radius: 3px;
        transition: all .3s ease;
        &:focus {
          border: 1px solid #fec107;
        }
      }

      .textarea {
        resize: none;
        height: 125px;
      }

      .custom_select {
        position: relative;
        width: 100%;
        height: 37px;

        select {
          background-color: #fff;
          border: 1px solid #d5dbd9;
          appearance: none;
          width: 100%;
          height: 100%;
          padding: 8px 10px;
          border-radius: 3px;
          outline: none;
          &:focus {
            border: 1px solid #fec107;
          }
        }

        &::before {
          content: '';
          position: absolute;
          top: 12px;
          right: 10px;
          border: 8px solid;
          border-color: #d5dbd9 transparent transparent transparent;
          pointer-events: none;
        }
      }

      .btn {
        width: 100%;
        padding: 8px 10px;
        font-size: 15px;
        border: 0;
        background-color: #fec107;
        color: #fff;
        cursor: pointer;
        border-radius: 3px;
        outline: none;
        &:hover {
          background-color: #ffd658;
        }
      }
    }
  }
}