$abel: Abel, cursive;
$anton: Anton, cursive;
$josefin: Josefin, cursive;
$lexend: Lexend, cursive;
$livvic: Livvic, cursive;

$text-gray: #3f4954;
$text-light: #686666da;
$text-gray: #0f0f0f;
$white: #FFFFFF;
$midnight: #104f55;

$sky: #a9def9;
$light-black: #201e1f;