.footer {
  width: 100%;
  text-align: center;
  background: #444444;
  padding: 20px 0;
  a {
    color: #fff;
  }
}

.arrow {
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  background: #fb2274;
  border-radius: 50%;
  img {
    width: 20px;
    z-index: 1;
    height: 20px;
  }
}
